/node_modules
/output
/output-es
/scratch
/.vscode
/scripts/analysis
/generated-docs

result*

.psc*
.purs*
.psa*
.spago
.cache
.direnv
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm

TODO.md
.spec-results

# Generated bundle
dashboard/app.js

# Keep it secret, keep it safe.
.env
