bower_components/
node_modules/
.pulp-cache/
output/
generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.spago
.envrc
.cache
.tempcache

# Files generated as part of the Bower import process
bower-failures.json
bower-manifests.json
