bower_components/
node_modules/
.pulp-cache/
output/
generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.spago
.cache
.tempcache

# Keep it secret, keep it safe.
.env

# Files generated as part of the legacy import process.
bower-exclusions.json
unsatisfied-dependencies.json
package-failures.json
version-failures.json
