bower_components/
node_modules/
.pulp-cache/
output/
generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.spago
.cache
.tempcache

# Keep it secret, keep it safe.
.env

# Files generated as part of the legacy import process.
bower-exclusions.json
registry-index
unsatisfied-dependencies.json
