name: tests

on:
  push:
    branches: [master]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - uses: actions/setup-purescript@main

      # - uses: cachix/install-nix-action@v12
      #   with:
      #     nix_path: nixpkgs=channel:nixos-20.09

      # Pro-tempore checks, should go away once new registry is in place
      # - run: ./verify-registry-unique.sh

      # Checks for the Registry Draft
      # - name: "Check that all Dhall compiles, and examples correctly conform to a Manifest"
      #  run: ./ci/scripts/verify-dhall.sh
      # - name: "Check all the example Manifests roundtrip (read+write) through PureScript"
      #  run: cd ci && nix-shell ../default.nix --run "spago run -m Registry.Check.ManifestRoundtrip"

      # Run a test comment
      - name: "Make a test comment"
        run: cd ci && npm install && spago run -m CommentTest
